<div class= "container d-flex d-flex justify-content-between">
  <div class= "card" id= "show-card">
    <img src="https://picsum.photos/seed/picsum/150">
    <h2><%= @restaurant.name %></h2>
    <h2 class= "title"><%= @restaurant.address %></h2>
    <p><%= @restaurant.category.capitalize %></p>
    <ul class= "list-inline justify-content-around">
      <li class="list-inline-item"><%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "a" %>     *
      <li class="list-inline-item"><%= link_to 'Back', restaurants_path, class: "a" %>    *
      <li class="list-inline-item"><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "a" %>
    </ul>
  </div>
  <ul class= "list-group ml-2 align-self-start" id= "list">
    <% @restaurant.reviews.each do |review| %>
      <li class= "list-group-item"><%= review.content.capitalize %></li>
      <li class= "list-group-item">Rating: <%= review.rating %></li>
    <% end %>
  </ul>
</div>

